<template>
    <v-container>
        <v-data-table dark :headers="headers" :items="usersList" class="elevation-1 header_font" >
            <template v-slot:top>
                <v-toolbar flat >
                    <v-toolbar-title class="content_font">مدیریت کاربران </v-toolbar-title>

                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>

                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="rgba(225,78,202,.6)" dark class="mb-2" v-on="on"><span class="content_font">ایجاد کاربر جدید </span></v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.name" label="نام و نام خانوادگی"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
<!--            <template v-slot:item.level="{item}">-->
<!--                <v-switch-->
<!--                        color="indigo darken-3"-->
<!--                        value=""-->
<!--                        hide-details-->
<!--                ></v-switch>-->
<!--            </template>-->
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-3" color="green" @click="editItem(item)">mdi-pencil</v-icon>
                <v-icon small color="red" @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </v-container>
</template>


<script>
    export default {
        data: () => ({
            level: true,
            usersList : [],
            dialog: false,
            editedIndex: -1,
            editedItem: {
                name: '',
                email: '',
                mobile: 0,
                level: 0,
                role :'',
                status: 0,
            },
            defaultItem: {
                name: '',
                email: '',
                mobile: 0,
                level: 0,
                role :'',
                status: 0,
            },
        }),

        computed: {
            headers() {
                return [
                    { text: 'نام و نام خانوادگی', value: 'full_name', align: 'start'},
                    { text: 'ایمیل', value: 'email' },
                    { text: 'موبایل', value: 'mobileNumber' },
                    { text: 'سطح', value: 'level' },
                    { text: 'مقام', value: 'role' },
                    { text: 'وضعیت', value: 'status' },
                    { text: 'ویرایش', value: 'actions', sortable: false },
                ]
            } ,

            formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
        },

        watch: {
            dialog (val) {
                val || this.close()
            },
        },

        created () {
            // this.initialize();
            this.fetchUsers();
        },

        methods: {
            fetchUsers(){
                axios.get('/api/management/user/list').then(response => {

                    if ( response.data.success == false ) {
                        console.log(response);
                    } else {
                        this.usersList = response.data.users;
                        this.initialize();
                    }

                }).catch (response => {
                    console.log(response);
                });
            },

            initialize () {
                // let self = this;
                // this.usersList = [];
                // $.each(this.users, function(key, user) {
                //     var row = [];
                //     row.push(user.firstname + ' ' + user.lastname);
                //     console.log(user);
                //     self.usersList.push(row);
                // });
            },

            editItem (item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.desserts.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            },

            close () {
                this.dialog = false
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    this.desserts.push(this.editedItem)
                }
                this.close()
            },
        },
    }
</script>

<style scoped>
    .header_font{
        font: 15px IRANSansWeb;
        text-align: center;
    }

    .content_font{
        font: 17px IRANSansWeb;
    }
</style>