<template>
    <v-container>
        <v-row>
            <v-col cols="12" sm="8">
                <div class="profile_details">
                    <v-row>
                        <v-col cols="12" sm="12">
                            <div class="profile_header">
                                <p style="font: 17px IRANSansWeb ; text-align: right; color: white ; padding:9px 8px 0 0">ویرایش مشخصات شخصی </p>
                            </div>
                        </v-col>
                    </v-row>
                    <v-form>
                        <v-row>
                            <v-col cols="12" sm="4">
                                <v-text-field style="font:13px IRANSansWeb ; color: white; margin-right: 7px " filled  label="نام" prepend-inner-icon="" color="purple darken-2" aria-required="true"> </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-text-field style="font:13px IRANSansWeb ; color: white; margin-right: 7px" filled label="نام خانوادگی" prepend-inner-icon="" color="purple darken-2" aria-required="true"> </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="4">
                                <v-text-field style="font:13px IRANSansWeb ; color: white; margin-left: 7px" filled label="ایمیل" prepend-inner-icon="" color="purple darken-2" aria-required="true"> </v-text-field>
                            </v-col>
                        </v-row>
                    </v-form>

                </div>
            </v-col>
            <v-col cols="12" sm="4">
                <div class="card card-user"><!----> <!----> <div class="card-body"><p class="card-text"></p> <div class="author"><div class="block block-one"></div> <div class="block block-two"></div> <div class="block block-three"></div> <div class="block block-four"></div> <a href="javascript:void(0)"><img src="../../../../../public/images/profile/my_profile.png" alt="..." class="avatar"> <h5 class="title">Mike Andrew</h5></a> <p class="description">Ceo/Co-Founder</p></div> <p></p> <div class="card-description">
                    Do not be scared of the truth because we need to restart the human
                    foundation in truth And I love you like Kanye loves Kanye I love Rick
                    Owens’ bed design but the back is...
                </div> </div> <!---->  <div class="card-footer"><!----> <div class="button-container"><button data-v-2a775b7a="" type="button" class="btn btn-facebook btn-round btn-icon btn-fab btn-default"><!----> <i data-v-2a775b7a="" class="fab fa-facebook"></i></button> <button data-v-2a775b7a="" type="button" class="btn btn-twitter btn-round btn-icon btn-fab btn-default"><!----> <i data-v-2a775b7a="" class="fab fa-twitter"></i></button> <button data-v-2a775b7a="" type="button" class="btn btn-google btn-round btn-icon btn-fab btn-default"><!----> <i data-v-2a775b7a="" class="fab fa-google-plus"></i></button></div></div></div>
            </v-col>
        </v-row>
    </v-container>
</template>



<script>
    export default {
        data () {
            return {

            }
        },

        computed: {

        },
    }
</script>

<style scoped>
    .profile_details{
        background: #27293d;
        border: 0;
        width: 100%;
        height: 500px;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
        border-radius: 7px;
    }

    .profile_header{
        height: 59px;
        width: 360px;
        border-radius: 5px;
        background-color: rgba(225,78,202,.6);
        margin: -32px 20px 0 0;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    }

    .card {
        background: #27293d;
        border: 0;
        position: relative;
        width: 98%;
        margin-bottom: 30px;
        height: 500px;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
    }

    .card-user .card-body {
        min-height: 240px;
    }
    .card .card-body {
        padding: 15px;
    }

    .card h1, .card h2, .card h3, .card h4, .card h5, .card h6, .card p, h1, h2, h3, h4, h5, h6 {
        color: hsla(0,0%,100%,.8);
    }
    .card-user {
        overflow: hidden;
    }

    .card-user .author {
        text-align: center;
        text-transform: none;
        margin-top: 25px;
    }

    .card-user .author .block {
        position: absolute;
        height: 100px;
        width: 250px;
    }

    .card-user .author .block.block-one {
        transform: rotate(150deg);
        margin-top: -90px;
        margin-left: -50px;
    }

    .card-user .author .block.block-two {
        transform: rotate(30deg);
        margin-top: -40px;
        margin-left: -100px;
    }

    .card-user .author .block.block-one, .card-user .author .block.block-two {
        background: rgba(225,78,202,.6);
        background: linear-gradient(90deg,rgba(225,78,202,.6) 0,rgba(225,78,202,0));
    }

    .card-user .author .block.block-three {
        transform: rotate(170deg);
        margin-top: -70px;
    }

    .card-user .author .block.block-four, .card-user .author .block.block-three {
        background: rgba(225,78,202,.6);
        background: linear-gradient(90deg,rgba(225,78,202,.6) 0,rgba(225,78,202,0));
        right: -45px;
    }


    .card-user .author .block.block-four {
        transform: rotate(150deg);
        margin-top: -25px;
    }

    .card-user .author a + p.description {
        margin-top: -7px;
    }

    .card-user .avatar {
        width: 124px;
        height: 124px;
        border: 5px solid #2b3553;
        border-bottom-color: rgb(43, 53, 83);
        border-bottom-color: transparent;
        background-color: transparent;
        position: relative;
    }

    .card .avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .avatar {
        color: #fff;
        background-color: #adb5bd;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 50%;
        height: 48px;
        width: 48px;
    }

    .card .card-body .card-category, .card .card-body .card-description {
        color: hsla(0,0%,100%,.6);
    }
    .card-user .card-description {
        margin-top: 30px;
    }

    .card .card-footer {
        background-color: transparent;
        border: 0;
        padding: 15px;
    }
    .card-footer:last-child {
        border-radius: 0 0 .2232rem .2232rem;
    }

    .card-user .button-container {
        margin-bottom: 6px;
        text-align: center;
    }
</style>
