/* ============================== Reset Css Primary Settings ==================================*/

body {
    margin: 0;
    padding: 0;
}

.btn:focus {
    outline: none !important;
    background-color: unset;
    box-shadow: unset !important;
    border-color: transparent;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

::-webkit-scrollbar-thumb {
    height: 6px;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #24284E;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05)
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

::-webkit-scrollbar-thumb {
    height: 6px;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #24284E;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05)
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

::-webkit-scrollbar-corner {
    background-color: transparent
}
