<template>
    <div >
        <div :style="content">

        </div>
    </div>
</template>

<style scoped>

</style>

<script>
    export default {
        data () {
            return {

            }
        },

        computed: {
            content(){
                return {
                    'background-image': `url('${require('../../../../public/images/content1.png')}')`,
                    'background-size':'cover' ,
                    'width':'100%',
                    'height':'1800px',
                    'margin-top':'-1px'
                }

            }
        }
    }
</script>