<template>
    <div >
        <div :style="footer">
            <div>

            </div>
        </div>
    </div>
</template>

<style scoped>

</style>

<script>
    export default {
        data () {
            return {

            }
        },

        computed: {
            footer(){
                return {
                    'background-image': `url('${require('../../../../public/images/footer.png')}')`,
                    'background-size':'cover' ,
                    'width':'100%',
                    'height':'437px'
                }

            }
        }
    }
</script>