<template>
    <div >
        <div :style="banner">
            <div id="particles-js">
                <ul class="banner_navbars">
                    <li>
                        <v-btn small rounded color="red">
                            <router-link style="color: white" to="#">صفحه اصلی</router-link>
                        </v-btn>
                    </li>
                    <li>
                        <div class="text-center">
                            <v-menu open-on-hover top offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-btn small rounded  color="primary" v-on="on">برنامه نویسی</v-btn>
                                </template>
                                <v-list>
                                    <v-list-item v-for="(item, index) in programers" :key="index" @click="">
                                        <v-list-item-title style="font: 15px IRANSans ;text-align: right"> {{ item.title }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <v-menu open-on-hover top offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-btn small rounded  color="primary" v-on="on">هوش مصنوعی</v-btn>
                                </template>
                                <v-list>
                                    <v-list-item v-for="(item, index) in intelligence" :key="index" @click="">
                                        <v-list-item-title style="font: 15px IRANSans ;text-align: right"> {{ item.title }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <v-menu open-on-hover top offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-btn small rounded  color="primary" v-on="on">بازار سرمایه و بورس</v-btn>
                                </template>
                                <v-list>
                                    <v-list-item v-for="(item, index) in investment" :key="index" @click="">
                                        <v-list-item-title style="font: 15px IRANSans ;text-align: right"> {{ item.title }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <v-menu open-on-hover top offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-btn small rounded  color="primary" v-on="on">دیجیتال مارکتینگ</v-btn>
                                </template>
                                <v-list>
                                    <v-list-item v-for="(item, index) in marketing" :key="index" @click="">
                                        <v-list-item-title style="font: 15px IRANSans ;text-align: right"> {{ item.title }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </li>
                    <li>
                        <v-btn small rounded color="primary">
                            <router-link style="color: white" to="#">استک استاکر</router-link>
                        </v-btn>
                    </li>
                    <li>
                        <v-btn small rounded color="primary">
                            <router-link style="color: white" to="#">کست استاکر</router-link>
                        </v-btn>
                    </li>
                    <li>
                        <v-btn small rounded color="primary">
                            <router-link style="color: white" to="#">سایکو استاکر</router-link>
                        </v-btn>
                    </li>
                    <li>
                        <v-btn small rounded color="primary">
                            <router-link style="color: white" to="#">همکاری با ما</router-link>
                        </v-btn>
                    </li>
                    <li style="margin-right: 140px">
                        <v-btn small rounded color="amber darken-1">
                            <router-link style="color: white" to="#">
                                <v-icon >mdi-account-circle</v-icon> <span> ورود / ثبت نام</span>
                            </router-link>
                        </v-btn>
                    </li>
                </ul>
            </div>
            <div class="image_banner">
                <img src="../../../../public/images/image_banner.png">
            </div>
            <div class="social_media">
                <ul>
                    <li>
                        <a href="#"><v-icon color="orange darken-4" large>mdi-gitlab</v-icon></a>
                    </li>
                    <li>
                        <a href="#"><v-icon color="indigo darken-4" large>mdi-twitter</v-icon></a>
                    </li>
                    <li>
                        <a href="#"><v-icon color="red darken-3" large>mdi-instagram</v-icon></a>
                    </li>
                    <li>
                        <a href="#"><v-icon color="blue darken-4" large>mdi-telegram</v-icon></a>
                    </li>
                    <li>
                        <a href="#"><v-icon color="teal darken-3" large>mdi-whatsapp</v-icon></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .banner_navbars{
        font: 15px IRANSans;
        font-weight: bolder;
        color: white;
        list-style: none;
        margin: 20px 33px 0 0;
        direction: rtl;
        float: right;
        position: relative;
    }

    .banner_navbars li{
        display: inline-block;
    }

    canvas {
        display: block;
        vertical-align: bottom;
    }

    #particles-js{
        width: 100%;
        height: 280px;
    }

    .image_banner{
        position: absolute;
        float: right;
        top: 92px;
        right: 70px;
    }

    .image_banner img{
        width: 258px;
        height: 270px;
    }

    .social_media{
        position: absolute;
        top: 170px;
        left: 0;

    }

    .social_media ul li{
        margin: 17px 0 0 4px;
    }

    .social_media ul{
        list-style: none;

    }
</style>

<script>
    export default {
        data () {
            return {
                programers: [
                    { title: 'اپلیکیشن های تحت وب' },
                    { title: 'اپلیکیشن های تحت موبایل' },
                    { title: 'شبکه و امنیت' },
                ],
                intelligence:[
                    { title: 'هوش مصنوعی' },
                    { title: 'یادگیری ماشین' },
                    { title: 'پردازش تصویر' },
                ],
                investment :[
                    { title: 'تحلیل تکنیکال' },
                    { title: 'تحلیل فاندمنتال' },
                    { title: 'معاملات الگوریتمیک' },
                ],
                marketing:[
                    { title: 'دیجیتال مارکتینگ' },
                    { title: 'سئو و بهبود اپلیکیشن' },
                    { title: 'تجربه کاربری' },
                ]
            }
        },

        computed: {
            banner(){
                return {
                    'background-image': `url('${require('../../../../public/images/banner.png')}')`,
                    'background-size':'cover' ,
                    'width':'100%',
                    'height':'545px'
                }

            }
        }
    }
</script>