<template>
    <div>
        <v-row no-gutters>
            <v-col  cols="12" sm="2">
                <v-card height="626" class="overflow-hidden" tile style="text-align: right">
                    <v-navigation-drawer :src="bg"  v-model="drawer" color="#41b480" :expand-on-hover="expandOnHover" :mini-variant="miniVariant" :right="right" :permanent="permanent"  absolute dark>
                        <v-list dense nav class="py-0">
                            <v-list-item two-line :class="miniVariant && 'px-0'">
                                <v-list-item-avatar>
                                    <img src="https://randomuser.me/api/portraits/men/81.jpg">
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title style="font:17px IRANSansWeb">پنل مدیریت</v-list-item-title>
                                    <v-list-item-subtitle style="font:15px IRANSansWeb">استاکر</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-list>
                                <v-list-group v-for="item in profile" :key="item.title" v-model="item.active" :prepend-icon="item.action" no-action>
                                    <template v-slot:activator>
                                        <v-list-item-content style="font:15px IRANSansWeb">
                                            <v-list-item-title  v-text="item.title"></v-list-item-title>
                                        </v-list-item-content>
                                    </template>
                                    <v-list-item>
                                        <v-list-item-content style="font:13px IRANSansWeb">
                                            <v-list-item-title>
                                                <router-link to="/management/profile">پروفایل من </router-link>
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list-group>
                            </v-list>

                            <v-divider></v-divider>

                            <v-list>
                                <v-list-group v-for="item in items" :key="item.title" v-model="item.active" :prepend-icon="item.action" no-action>
                                    <template v-slot:activator>
                                        <v-list-item-content style="font:15px IRANSansWeb">
                                            <v-list-item-title  v-text="item.title"></v-list-item-title>
                                        </v-list-item-content>
                                    </template>
                                    <v-list-item v-for="subItem in item.items" :key="subItem.title" @click="">
                                        <v-list-item-content style="font:13px IRANSansWeb">
                                            <v-list-item-title>
                                                <router-link :to="subItem.route" v-text="subItem.title"></router-link>
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list-group>
                            </v-list>
                        </v-list>
                    </v-navigation-drawer>
                </v-card>
            </v-col>
            <v-col  cols="12" sm="10">
                <v-row no-gutters height="88px">
                    <v-app-bar height="88px" color="#1a385c" dense dark>
                        <v-app-bar-nav-icon></v-app-bar-nav-icon>
                        <v-toolbar-title>Page title</v-toolbar-title>

                        <v-spacer></v-spacer>

                        <v-btn icon>
                            <v-icon>mdi-heart</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>mdi-magnify</v-icon>
                        </v-btn>
                        <v-menu left bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn icon v-on="on">
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item v-for="n in 5" :key="n" @click="() => {}">
                                    <v-list-item-title>Option {{ n }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-app-bar>
                </v-row>
                <v-row no-gutters>
                    <router-view></router-view>
                </v-row>
            </v-col>
        </v-row>
    </div>
</template>



<script>
    export default {
        data () {
            return {
                profile :[
                    {
                        action: 'mdi-face-profile',
                        title: 'فرزاد اسماعیلی',
                        items: [
                            { title: 'پروفایل من' },
                            { title: 'ویرایش پروفایل' },
                            { title: 'تنظیمات' },
                        ],
                    }
                ],
                items: [
                    {
                        action: 'mdi-account-convert',
                        title: 'مدیریت کاربران',
                        items: [
                            { title: 'ایجاد کاربر' , route : '/management/user/create' },
                            { title: 'لیست کاربرها' , route : '/management/user/list'},
                        ],
                    },
                    {
                        action: 'mdi-account-tie',
                        title: 'مدیریت مقام ها',
                        items: [
                            { title: 'ایجاد مقام' },
                            { title: 'لیست مقام ها' },
                        ],
                    },
                    {
                        action: 'mdi-translate',
                        title: 'زبان سیستم',
                        items: [
                            { title: 'ایجاد زبان' },
                            { title: 'لیست زبان ها' },
                        ],
                    },
                    {
                        action: 'mdi-tournament',
                        title: 'منوها و زیرمنوها',
                        items: [
                            { title: 'ایجاد منو' },
                            { title: 'لیست منوها' },
                        ],
                    },
                    {
                        action: 'mdi-dice-multiple',
                        title: 'مالتی مدیا',
                        items: [
                            { title: 'ایجاد مدیا' },
                            { title: 'لیست مدیاها' },
                        ],
                    },
                    {
                        action: 'mdi-account-network',
                        title: 'شبکه های اجتماعی',
                        active: false,
                        items: [
                            { title: 'ایجاد شبکه اجتماعی' },
                            { title: 'لیست شبکه های اجتماعی' },
                        ],
                    },
                ],
                drawer :true ,
                right: false,
                permanent: true,
                miniVariant: false,
                expandOnHover: false,
                background: true,

                desserts: [
                    {
                        name: 'Frozen Yogurt',
                        calories: 159,
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                    },
                    {
                        name: 'Eclair',
                        calories: 262,
                    },
                    {
                        name: 'Cupcake',
                        calories: 305,
                    },
                    {
                        name: 'Gingerbread',
                        calories: 356,
                    },
                    {
                        name: 'Jelly bean',
                        calories: 375,
                    },
                    {
                        name: 'Lollipop',
                        calories: 392,
                    },
                    {
                        name: 'Honeycomb',
                        calories: 408,
                    },
                    {
                        name: 'Donut',
                        calories: 452,
                    },
                    {
                        name: 'KitKat',
                        calories: 518,
                    },
                ],
            }
        },
        computed: {
            bg () {
                return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
            },
        },
    }
</script>
